<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plotly Dash</title>
  </head>
  <body>
    <nav>
      <ul style='list-style:none;display:flex;gap:10px;'>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/dashapp">Dash</a></li>
        <li><a href="/dashapp2">Dash 2</a></li>
      </ul>
    </nav>
    {% block container %}
    
    {% endblock container %}
  </body>
</html>